<.flash_group flash={@flash} />
<section id="bitcoin_price">
  <div class="join stats w-full shadow">
    <.live_component module={BitcoinPrice}
      id="bitcoin_price_usd"
      bitcoin_price={@bitcoin_price_usd}
      old_bitcoin_price={@old_bitcoin_price_usd}
      currency="USD"
      symbol="$" />
    <.live_component module={BitcoinPrice}
      id="bitcoin_price_euro"
      bitcoin_price={@bitcoin_price_euro}
      old_bitcoin_price={@old_bitcoin_price_euro}
      currency="Euro"
      symbol="€" />
  </div>
</section>

<section id="detail_table">
  <.live_component module={DetailTable}
    id="detailtable"
    headline={@headline}
    purchases={@manual_purchases}
    bitcoin_price_usd={@bitcoin_price_usd}
    cro_price_usd={@cro_price_usd}
    currency={@currency}
    button_toogle={@button_toogle}
    text_type={@text_type}/>
</section>

<section id="new manual">
  <div class="grid place-content-center pt-2">
    <.link patch={~p"/purchases/manual_purchases/new"}>
      <.button class="bg-blue-600 hover:bg-blue-800 rounded">
        <.icon name="hero-plus" class="mt-0.5 h-5 w-5 flex-none" />
      </.button>
    </.link>
  </div>
</section>

<section id="modal dialog">
  <.modal
    :if={@live_action in [:new, :edit]}
    id="manual_purchase-modal"
    show
    on_cancel={JS.patch(~p"/purchases/manual_purchases")}
  >
    <.live_component
      module={CustomerWeb.ManualFormComponent}
      id="new"
      title={@page_title}
      action={@live_action}
      manual_purchase={@manual_purchase}
      patch={~p"/purchases/manual_purchases"}
    />
  </.modal>
</section>
